@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vikrant Shrestha</h1>
    <h2>Simple ASP.NET core web application</h2>
    <h3>Contact:<span>9861294029</span></h3>
    <p>Learn more about <a href="https://www.github.com/vincentvicran/NetCentric">this ASP.NET Core basic web app</a>.</p>
<p>@System.Diagnostics.Process.GetCurrentProcess().ProcessName</p>
<p>
    @ViewBag.MyKey
</p>
</div>
