@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>To the Home page of ABC DEF</h2>
    <h3>Contact:<span>016678965</span></h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<p>@System.Diagnostics.Process.GetCurrentProcess().ProcessName</p>
<p>
    @ViewBag.MyKey
</p>
</div>
